body{
  text-align: center;
}

button{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  background: rgba(0, 176, 120);
  color: white;
  font-size: 25px;
  margin: 10px auto;
  text-align: center;
  display: block;
}

.cancel-buttons{
  background: red;
  color: white;
}

#img1{
  background: url('https://1.bp.blogspot.com/-re5HqFKGZwk/Umy1ep7Fr8I/AAAAAAAACeQ/o22Qoim-QYs/s1600/Hackers+are+real+by+PCbots.png') center center no-repeat;
  height: 400px;
  width: 600px;
  background-size: cover;
  margin: auto;
}

#click-events{
  text-align: center;
}

#toggle-event{
  text-align: center;
}

#btn2{
  margin: auto;
}

#fade-methods > *{
  text-align: center;
}

.fade-button{
  border: 1px solid blue;
  margin: auto;
  text-align: center;
}

hr{
  margin: 15px;
  height: 2px;
  background: lightgreen;
}

#slide-methods > p{
  border: 1px solid black;
}

#slide-text1{
  display: none;
}


/* .imgs{
  position: absolute;
  top: auto;
  left: 400px;
  margin: auto;
  border: 2px solid black;
  width: 600px;
  height: 400px;
} */

#image-switcher{
  position: relative;
  top: inherit;
}

.box{
  width: 300px;
  height: 300px;
  background: lightgreen;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, .3);
  margin: 20px auto;

}
