#img1{
  background: url('https://1.bp.blogspot.com/-re5HqFKGZwk/Umy1ep7Fr8I/AAAAAAAACeQ/o22Qoim-QYs/s1600/Hackers+are+real+by+PCbots.png') center center no-repeat;
  height: 400px;
  width: 600px;
  background-size: cover;
}
